<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bands I Like!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Bands I like</h1>
  <hr>
  <nav>
     <a href="/bands">Index</a>
     |
     <a href="/bands/new">Add Band</a>
   </nav>

  <%# Put the specific route template here! %>
  <%= yield %>

  <hr>
  <footer>
    &copy; Harry's Bands 2019
  </footer>

</body>
</html>
